# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/.idea/
.idea/workspace.xml


stream/.idea/
stream/frontend/runtime/
stream/backend/runtime/
*.iml
out
gen
stream/*.log
.xml